<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Usuarios()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!id" >Cadastrar Usuário</ion-title>
    <ion-title *ngIf="id" >Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item>
  <ion-label position="floating">Nome</ion-label>
   <ion-input [(ngModel)]='nome' type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Usuario</ion-label>
   <ion-input [(ngModel)]='usuario' type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Senha</ion-label>
   <ion-input [(ngModel)]='senha' type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Nível</ion-label>
  <ion-select placeholder="Selecione..." [(ngModel)]="nivel">
    <ion-select-option value="admin">Administrador</ion-select-option>
    <ion-select-option value="professor">Professor</ion-select-option>
    <ion-select-option value="aluno">Aluno</ion-select-option>
    <ion-select-option value="secretario">Secretário</ion-select-option>
  </ion-select>
</ion-item>

<ion-button *ngIf="!id"  color="success" expand="block" (click)="cadastrar()">
  Salvar
</ion-button>

<ion-button *ngIf="id"  color="primary" expand="block" (click)="editar()">
  Editar
</ion-button>

</ion-content>
